@import '../../styles/mixins.less';
@import './SimpleNav.less';
@import './PageNotFound.less';

a {
  color: darkslateblue;
  &:hover {
    color: darkblue;
  }
}

.react-bs-table-csv-btn {
  position: absolute;
  left: -3px;
  top: -67px;
  width: 120px;
}

.blue {
  background-color: rgba(0,0,250, 0.3);
}

.red {
  background-color: rgba(250,0,0, 0.3);
}

.grey {
  background-color: rgba(77,77,77, 0.3);
}
