@import '../../styles/mixins.less';
@import './SimpleNav.less';
@import './PageNotFound.less';
@import './TopNav.less';

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: darkslateblue;
  &:hover {
    color: darkblue;
  }
}

.react-bs-table-csv-btn {
  width: 120px;
}

.blue {
  background-color: rgba(0,0,250, 0.3);
}

.red {
  background-color: rgba(250,0,0, 0.3);
}

.grey {
  background-color: rgba(77,77,77, 0.3);
}

.mask{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

ul.results {
  z-index: 2;
  li {
    font-size: 18px;
  }
}

.bigSearch {
  width: 100%;
  border-radius: 6px;
  font-size: 36px;
  padding: 2px 4px;
}
